*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.data{
margin: 7% 35%;
}

img{
  display: block;
}

button{
width: 35.6vw;
height: 10vh;
background: linear-gradient(90deg , rgb(199, 157, 79) , rgb(245, 243, 243) , rgb(192, 82, 173));
border: none;

}