* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.data {
  position: fixed;
  margin: 20vh 25vw;
}

img {
  display: block;
  width: 48vw;
  height: 50vh;
  max-width: 48vw;
  max-height: 50vh;
}

button {
  display: block;
  width: 48vw;
  height: 10vh;
  background: linear-gradient(
    90deg,
    rgb(199, 157, 79),
    rgb(245, 243, 243),
    rgb(192, 82, 173)
  );
  border: none;
  cursor: pointer;
  font-size: 4vh;
  color: #282626;
}

